.myImage {
    position: relative;
    width: 100%;
    text-align: center;
    color: white;
}
.centered {
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 90%;
    left: 50%;
    width:100%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
  
  
  .myImage:hover .image {
    opacity: 0.7;
  }
  
  .myImage:hover .middle {
    opacity: 1;
  }
  .myImage:hover .middlenote {
    opacity: 1;
  }
  .myImage:hover .middlevisit {
    opacity: 1;
  }
  .text {
    background-color: transparent;
    color: #ffffff;
    font-size: 16px;
    padding: 16px 32px;
  }

  .textnote {
    color:#ffffff;
    font-size: 16px;
    font-family: bold;
    font-style: bold;
    padding: 16px 32px;
  }

  //carousel ngx

  .middlenote {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 7%;
    right: -36%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
  .middlevisit {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 7%;
    left: 17%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
  
  .my-films{
    padding-left: 2%;
  }

.zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1); 
}

.hovereffect {
  width:100%;
  height:100%;
  float:left;
  overflow:hidden;
  position:relative;
  text-align:center;
  cursor:default;
  }
  
  .hovereffect .overlay {
  width:100%;
  height:100%;
  position:absolute;
  overflow:hidden;
  top:0;
  left:0;
  opacity:0;
  background-color:rgba(0,0,0,0.5);
  -webkit-transition:all .4s ease-in-out;
  transition:all .4s ease-in-out
  }
  
  .hovereffect img {
  display:block;
  position:relative;
  -webkit-transition:all .4s linear;
  transition:all .4s linear;
  }
  
  .hovereffect h2 {
  text-transform:uppercase;
  color:#fff;
  text-align:center;
  position:relative;
  font-size:17px;
  background:rgba(0,0,0,0.6);
  -webkit-transform:translatey(-100px);
  -ms-transform:translatey(-100px);
  transform:translatey(-100px);
  -webkit-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
  padding:10px;
  }
  
  .hovereffect a.info {
  text-decoration:none;
  display:inline-block;
  text-transform:uppercase;
  color:#fff;
  border:1px solid #fff;
  background-color:transparent;
  opacity:0;
  filter:alpha(opacity=0);
  -webkit-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
  margin:50px 0 0;
  padding:7px 14px;
  }
  
  .hovereffect a.info:hover {
  box-shadow:0 0 5px #fff;
  }
  
  .hovereffect:hover img {
  -ms-transform:scale(1.2);
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
  }
  
  .hovereffect:hover .overlay {
  opacity:1;
  filter:alpha(opacity=100);
  }
  
  .hovereffect:hover h2,.hovereffect:hover a.info {
  opacity:1;
  filter:alpha(opacity=100);
  -ms-transform:translatey(0);
  -webkit-transform:translatey(0);
  transform:translatey(0);
  }
  
  .hovereffect:hover a.info {
  -webkit-transition-delay:.2s;
  transition-delay:.2s;
  }
  h1{
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    color: #e91e63;
  }
  
  $spinner-size: 4rem;
  $spinner-thickness: 0.1em;
  $animation-speed: 2s;
  
  .spinner {
    span{
      position: absolute;
      left: 50%;
      top: 50%;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      width: $spinner-size;
      height: $spinner-size;
      border: $spinner-thickness solid #9c27b0;
      animation: $animation-speed infinite spin ease-in-out;
      
        &:nth-child(1){
          animation-delay: 0s;
        }
        &:nth-child(2){
          animation-delay: 0.1s;
        }
        &:nth-child(3){
          animation-delay: 0.2s;
        }
        &:nth-child(4){
          animation-delay: 0.3s;
        }
        &:nth-child(5){
          animation-delay: 0.4s;
        }
    }
  }
  
  @keyframes spin{
    0%{
      transform: translate(-50%, -50%) rotate(0) scale(0);
      border-radius: 0%;
      border-color: #9c27b0;
    }
    50%{
      transform: translate(-50%, -50%) rotate(180deg) scale(2.5);
      border-radius: 50%;
      border-color: #e91e63;
    }
    70%{
      transform: translate(-50%, -50%) rotate(180deg) scale(2.5);
      border-radius: 50%;
      border-color: #9c27b0;
    }
    100%{
      transform: translate(-50%, -50%) rotate(360deg) scale(0);
      border-radius: 0%;
      border-color: #9c27b0;
    }
  }
  .row{
    margin-right: 0%;
  }