/*.carousel-inner {
    width: 640px;
    height: 240px;
  }
  
  .carousel-item {
    display: block !important;
      z-index: 1;
      position: absolute;
      transition: opacity 1.5s easy-in-out, visibility 1s;
      opacity: 0;
      visibility: hidden;
  }
  
  .carousel-item.active {
    position: relative;
      transition: opacity 1.5s easy-in-out, visibility 1s;
      visibility: visible;
      opacity: 1;
  }
  
  @keyframes slideFromLeft {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: none;
    }
  }
  */
  // .highlightimage{
  //   position: relative;
  // background-size:100% 100%;
  // max-width: 100%;
  //  // background-position: center;
  //   height: 600px;
  //   @media only screen and (max-width: 731px) {
  //     background-position: initial;
  //     height: 500px !important;
  // }
  // }
  // .movieheader{
  //   width: 100% !important;
  //   height: 58px;
  //   position: absolute;
  //   background-color: rgba(0,0,0,.2);
  //   top: 0px; 
  //  //  z-index: 1;
  // }
  // .moviedetails{
  //   width: 100%;
  //   //height: 150px ;
  //   position: absolute;
  //   background-color: rgba(0,0,0,.6);
  //   bottom: 0px;
  //   z-index: 1;
  //   @media only screen and (max-width: 767px) {
     
  // }
  // }
  // .details {
  //   margin-top: 6px;
  //   padding-left: 2%;
  //   width: 800px;
  // }

  // .title {
  //   text-align: left;
  //   text-shadow: #000;
  //   color: #fff;
  //   font-family: Arial,sans-serif;
  //   font-size: 30px;
  //   @media only screen and (max-width: 731px) {
  //     font-size: 20px;
  //  }

  // }
  // .note {
  //   color: #fff;
  //   padding-top: 1%;
  //   padding-left: 2%;
  // }
  // .help {
  //   margin-left: 15px;
  // }
  // .rate {
  //   margin-left: 2px;
  // }
  // .movienote{
  //   font-size: 28px;
  //   line-height: 30px;
  //   font-weight: bold;
  // }
  // .description{
  //   text-align: left;
  //   color: white;
  //   @media only screen and (max-width: 731px) {
  //     display: none;
  // }
   
  // }
  // .notegenre {
  //   color: #fff;
  // }
  
  // [nz-carousel-content] {
  //   text-align: center;
  //   height: 550px;
  //   color: #fff;
  //   overflow: hidden;
  // }

  // h3 {
  //   color: white;
  // }
  // .bottom-left{
  //   position: absolute;
  //   bottom: 8px;
  //   left:16px;
  // }
  // .swiper-container {
  //   width: 100%;
  //   height: 60%;
  // }
  // .swiper-slide {
  //   text-align: center;
  //   font-size: 18px;
  //   background: #fff;
  //   /* Center slide text vertically */
  //   display: -webkit-box;
  //   display: -ms-flexbox;
  //   display: -webkit-flex;
  //   display: flex;
  //   -webkit-box-pack: center;
  //   -ms-flex-pack: center;
  //   -webkit-justify-content: center;
  //   justify-content: center;
  //   -webkit-box-align: center;
  //   -ms-flex-align: center;
  //   -webkit-align-items: center;
  //   align-items: center;
  // }

  // // test

  // #slider-wrapper {
  //   width: 100%;
  //   background: #333;
  //   position: relative;
  // }
  // .slider-controlls {
  //   .next, .prev{
  //     display: block;
  //     position: absolute;
  //     border: none;
  //     background-color: rgba(#333, 0.5);
  //     color: #fff;
  //     top:50%;
  //     padding:20px;
  //     transform: translateY(-50%);
  //     font-size: 18px;
  //     z-index: 99999;
  //   }
  //   .next{
  //     right:20px;
  //   }
  //   .prev{
  //     left:20px;
  //   }
  // }
  
  // .slider-items {
  //   width: 100%;
  //   margin: 0px auto;
  //   height: 100vh;
  //   position: relative;
  //   overflow: hidden;
  //   .slider-item{
  //     width:100%;
  //     position: absolute;
  //     opacity: 1;
  //     &.active{
  //       opacity:1;
  //       .content{
  //         h1{
  //           opacity:1;
  //           bottom: 40%;
  //           left: 20%;
  //           z-index: 9999;
  //           font-weight: normal;
  //         }
  //         p{
  //           opacity: 1;
  //           left: 20%;
  //           z-index: 9999;
  //         }
  //         img{
  //           opacity:1;
  //         }
  //       }
  //     }
  //     .content{
  //       width:100%;
  //       height: 100vh;
  //       position: relative;
  //       overflow: hidden;
  //       h1{
  //         position:absolute;
  //         bottom: 40%;
  //         left: 10%;
  //         background-color: rgba(#336699, 0.8);
  //         padding:15px 20px;
  //         color: #fff;
  //         opacity:0;
  //         transition: all 0.5s;
  //       }
  //       p{
  //         position: absolute;
  //         bottom: 32%;
  //         left: 0%;
  //         background-color: rgba(#333, 0.8);
  //         padding:10px;
  //         color:#fff;
  //         opacity:0;
  //         transition: all 0.6s;
  //         transition-delay: 0.1s;
  //       }
  //       img{
  //         display: block;
  //         position: absolute;
  //         width:100%;
  //         opacity:0;
  //         transition: all 0.5s;
  //       }
  //     }
  //   }
  // }
  // .slider-bullets {
  //   width:100px;
  //   bottom:20px;
  //   position: absolute;
  //   text-align: center;
  //   z-index: 99999;
  //   width:100%;
  //   .bullet{
  //     width: 20px;
  //     height: 20px;
  //     background: rgba(#e4e4e4, 0.4);
  //     border: 2px solid transparent;
  //     border-radius: 50%;
  //     display: inline-block;
  //     cursor: pointer;
  //     transition: all 0.3s;
  //     &.active{
  //       border: 2px solid #333;
  //     }
  //   }
  // }

  @import url(https://fonts.googleapis.com/css?family=Varela+Round);

html, body { background: #333 url("https://codepen.io/images/classy_fabric.png"); }

.slides {
    padding: 0;
    width: 90%;
    height: 350px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}

.nav label {
    width: 100px;
    height: 100%;
    display: none;
    position: absolute;

	  opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 350px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
	background: rgba(0, 0, 0, 0.8);
}