<!-- <div *ngIf="router.url ==='' || router.url==='/home'; else other">
</div> -->
<!-- <ng-container *ngIf="router.url !=='/' && router.url !=='/home'"> -->
<!--<app-navbar></app-navbar>-->
<!-- </ng-container> -->
<router-outlet>
</router-outlet>
<div id="btn-returnToTop">
        <button style="background-color: #FF424F !important"  color="primary" (click)="scrollTop()">
          <i class="pi pi-arrow-up"></i>
        </button>
</div>
<app-footer></app-footer>
<ngx-spinner  [zIndex]="9999"> </ngx-spinner>

