<div class="spinner" *ngIf="isLoadingResults">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
<div class="person">
<div class="flex justify-content-center" *ngIf="person">
  <div class="d-flex justify-content-center">
  <img  src="https://image.tmdb.org/t/p/w185/{{person.profile_path}}" alt="profile">
  </div>
  <h2>{{person.name}}</h2>
  <p style="text-align:center">Born on {{person.birthday | date}}</p>
  <p>{{person.biography}}</p>
</div>

  <p-tabView>
    <p-tabPanel [header]="'App.Star movie' | translate">
      <section class="items" *ngIf="movies">
        <div *ngFor="let movie of movies">
          <app-cardmovie
            [section]="'Movies'"
            [id]="movie.id"
            [image]="movie.poster_path"
            [title]="movie.title">
          </app-cardmovie>
        </div>
      </section>
    </p-tabPanel>

    <p-tabPanel [header]="'App.Star tv' | translate">
      <section class="items" *ngIf="tv_credits">
        <div *ngFor="let tv of tv_credits">
          <app-cardmovie
            [section]="'Series'"
            [id]="tv.id"
            [image]="tv.poster_path"
            [title]="tv.name">
          </app-cardmovie>
        </div>
      </section>
    </p-tabPanel>
  </p-tabView>

</div>
