<ul class="p-menu-list">
  <li class="nav-item">
    <a class="nav-link actions p-ripple" pRipple>
      <i class="pi pi-user"></i> {{ 'App.Manage Profile' | translate }}
    </a>
  </li>

  <li *ngIf="isAdmin" class="nav-item">
    <a class="nav-link actions p-ripple" [routerLink]="['/admin']" pRipple>
      <i class="pi pi-cog"></i> {{ 'App.Manage App' | translate }}
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link actions p-ripple" (click)="signout()" pRipple>
      <i class="pi pi-power-off"></i> {{ 'App.Sign out' | translate }}
    </a>
  </li>
</ul>

<!-- PrimeNG Modal (Dialog) -->
<p-dialog [(visible)]="displayModal" modal header="Write to us" [style]="{width: '400px'}">
  <div class="p-fluid">
    <div class="p-field">
      <label for="name">Your name</label>
      <span class="p-input-icon-left">
        <i class="pi pi-user"></i>
        <input id="name" type="text" pInputText />
      </span>
    </div>

    <div class="p-field">
      <label for="email">Your email</label>
      <span class="p-input-icon-left">
        <i class="pi pi-envelope"></i>
        <input id="email" type="email" pInputText />
      </span>
    </div>

    <div class="p-field">
      <label for="subject">Subject</label>
      <span class="p-input-icon-left">
        <i class="pi pi-tag"></i>
        <input id="subject" type="text" pInputText />
      </span>
    </div>

    <div class="p-field">
      <label for="message">Your message</label>
      <span class="p-input-icon-left">
        <i class="pi pi-pencil"></i>
        <textarea id="message" rows="3" pInputTextarea></textarea>
      </span>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <button pButton type="button" label="Send" icon="pi pi-send" (click)="displayModal = false"></button>
  </ng-template>
</p-dialog>

<!-- Button to Open Modal -->
<button pButton label="Open Modal" icon="pi pi-comment" (click)="displayModal = true"></button>
