  .my-link-see-more{
    margin-top:5px; 
  }
  .showmorebutton{
    background-color: #FF424F;
    color : #FFF;
    border-radius: 40px;
    border:  #FF424F 2px solid !important;
    cursor: pointer;
  }
  .button {
    border-radius: 4px;
    background-color: transparent;
    border: none;
    color:  #FF424F;;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
   // margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: 'see more \00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 150px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  body{
    background-color: #222222 !important;;
  }
  .latest{
    @media only screen and (max-width:730px) {
      justify-content: center;
  }
  }