h1{
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    color: #e91e63;
  }
  
  $spinner-size: 4rem;
  $spinner-thickness: 0.1em;
  $animation-speed: 2s;
  
  .spinner {
    span{
      position: absolute;
      left: 50%;
      top: 50%;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      width: $spinner-size;
      height: $spinner-size;
      border: $spinner-thickness solid #9c27b0;
      animation: $animation-speed infinite spin ease-in-out;
      
        &:nth-child(1){
          animation-delay: 0s;
        }
        &:nth-child(2){
          animation-delay: 0.1s;
        }
        &:nth-child(3){
          animation-delay: 0.2s;
        }
        &:nth-child(4){
          animation-delay: 0.3s;
        }
        &:nth-child(5){
          animation-delay: 0.4s;
        }
    }
  }
  
  @keyframes spin{
    0%{
      transform: translate(-50%, -50%) rotate(0) scale(0);
      border-radius: 0%;
      border-color: #9c27b0;
    }
    50%{
      transform: translate(-50%, -50%) rotate(180deg) scale(2.5);
      border-radius: 50%;
      border-color: #e91e63;
    }
    70%{
      transform: translate(-50%, -50%) rotate(180deg) scale(2.5);
      border-radius: 50%;
      border-color: #9c27b0;
    }
    100%{
      transform: translate(-50%, -50%) rotate(360deg) scale(0);
      border-radius: 0%;
      border-color: #9c27b0;
    }
  }
  .row{
    margin-right: 0%;
  }