<div class="md-form row w-100 d-flex justify-content-center">
  <div class="col-sm-4 d-flex">
    <p-dropdown
      name="season"
      placeholder="Season 1"
      [(ngModel)]="seasonNumber"
      [options]="showDetail?.seasons"
      optionLabel="season_number"
      (onChange)="changeSeason($event.value)">
      <ng-template let-item pTemplate="item">
        Season {{item.season_number}}
      </ng-template>
    </p-dropdown>

    <p-dropdown
      style="padding-left: 30%;"
      name="episodes"
      placeholder="Episode"
      [(ngModel)]="nbEpisodes"
      [options]="episodeCount"
      (onChange)="changeEpisode($event.value)">
      <ng-template let-item pTemplate="item">
        Episode {{item}}
      </ng-template>
    </p-dropdown>

</div>
</div>
<div class="card mt-3 border-0" style="width: 100%;background-color: #13151a">
  <div class="row justify-content-center" style="width: 100%;text-align: center;padding-left: 2%">
  <div class="card" style="width: 560px;margin: 10px;">

    <iframe [src]="link | safeUrl" width="560" height="315" class="card-img-top"  frameborder="0" allowfullscreen="true" scrolling="no">
    </iframe>

    <div class="card-body">
      <!-- <h5 class="card-title">{{showDetail.name}}</h5> -->
     <!-- <p class="card-text">test</p> -->
    </div>
    </div>
  </div>
</div>
