<p-menubar [model]="menuItems">
  <ng-template pTemplate="start">
    <button style="cursor: pointer; background-color: transparent; border: transparent" [routerLink]="['/home']">
      <img src="assets/images/box.png" style="width: 40px; height: 100%;">
    </button>
  </ng-template>

  <ng-template pTemplate="end">
    <!-- Search Form -->
    <div class="p-inputgroup">
      <p-inputText [(ngModel)]="keyword" [placeholder]="'App.search' | translate"></p-inputText>
      <p-button icon="pi pi-search" (click)="search()" class="p-button-outlined"></p-button>
    </div>

    <!-- Login Component -->
    <app-login></app-login>
  </ng-template>
</p-menubar>
