<!-- Card Component -->
<div class="card border-0" style="width: 200px; margin: 10px;">
  <div class="hovereffect">
    <a (click)="isModalVisible = true; checkIfExistInWatchList()">
      <div class="myImage">
        <img *ngIf="image" class="card-img-top" style="height: 330px;"
             [lazyLoad]="'https://image.tmdb.org/t/p/original/' + image"
             [defaultImage]="'assets/images/no_poster_available.jpg'" alt="Card image cap">
        <img *ngIf="!image" class="card-img-top" style="height: 330px;"
             src="/assets/images/no_poster_available.jpg" alt="Card image cap">
        <div class="overlay">
          <div class="middle"><div class="text"></div></div>
          <div class="middlenote"><div class="textnote"></div></div>
          <div class="middlevisit"><div class="textnote"></div></div>
        </div>
      </div>
    </a>
  </div>
</div>

<!-- Modal (PrimeNG) -->
<p-dialog [(visible)]="isModalVisible" modal [closable]="true" [header]="title" [style]="{width: '500px'}">
  <div class="modal-content">
    <div class="modal-header">
      <button pButton icon="pi pi-times" class="p-button-text p-button-rounded" (click)="isModalVisible = false"></button>
      <h2 [routerLink]="['/viewDetail', section, id]" style="color: black; cursor: pointer;">
        {{ title }}
      </h2>
    </div>

    <div class="modal-body">
      <div *ngIf="visible" style="margin-top:5px">
        <button *ngIf="existInwatchList" pButton icon="pi pi-trash"
                class="p-button-danger p-button-rounded p-mr-2"
                pTooltip="Remove from watchlist" (click)="addOrDeleteToMyWatchList()">
        </button>

        <button *ngIf="existInFavoris" pButton icon="pi pi-heart"
                class="p-button-warning p-button-rounded p-mr-2"
                pTooltip="Remove from favorites" (click)="addOrDeleteFavorite()">
        </button>

        <button *ngIf="!watched && existInwatchList" pButton icon="pi pi-eye"
                class="p-button-success p-button-rounded p-mr-2"
                pTooltip="Mark as watched" (click)="watchMovie()">
        </button>

        <button *ngIf="watched && existInwatchList" pButton icon="pi pi-eye-slash"
                class="p-button-secondary p-button-rounded"
                pTooltip="Not watched yet" (click)="watchMovie()">
        </button>
      </div>

      <br>
      <h4 style="color: black">Rate this program</h4>
      <div class="text-center">
        <p-rating [(ngModel)]="rate" (onRate)="rateMovie($event)" [stars]="5" [cancel]="false"></p-rating>
      </div>
    </div>
  </div>
</p-dialog>
