<!-- Sign-in Button -->
<button *ngIf="!isLoggedIn" pButton type="button" class="lgbutton" (click)="loginDialog = true">
  {{ 'App.Sign in' | translate }}
</button>

<!-- User Profile (Popover) -->
<div *ngIf="isLoggedIn" class="d-flex justify-content-center">
  <img src="assets/images/profil.png" (click)="overlay.toggle($event)" style="cursor: pointer;">
  <span class="font-weight-bold" style="color: white; margin-left: 7px; margin-top: 3px;">{{ profil }}</span>
</div>

<p-overlayPanel #overlay>
  <app-actions *ngIf="isLoggedIn" [profil]="profil"></app-actions>
</p-overlayPanel>

<!-- Login Modal -->
<p-dialog [(visible)]="loginDialog" modal [closable]="true" [header]="'App.Sign in' | translate" [style]="{width: '400px'}">
  <div class="d-flex justify-content-center">
    <button pButton class="w-50" (click)="loginDialog = true; signUpDialog = false;">
      <h4 class="modal-title font-weight-bold"><span class="actii">{{ 'App.Sign in' | translate }}</span></h4>
    </button>
    <button pButton class="w-50" (click)="loginDialog = false; signUpDialog = true;">
      <h4 class="modal-title font-weight-bold">{{ 'App.sign up' | translate }}</h4>
    </button>
  </div>

  <div class="p-fluid">
    <div class="p-field">
      <label for="username">{{ 'App.Username' | translate }}</label>
      <span class="p-input-icon-left">
        <i class="pi pi-user"></i>
        <input id="username" type="text" [(ngModel)]="username" name="username" pInputText />
      </span>
    </div>

    <div class="p-field">
      <label for="password">{{ 'App.Password' | translate }}</label>
      <span class="p-input-icon-left">
        <i class="pi pi-lock"></i>
        <input id="password" type="password" [(ngModel)]="password" name="password" pInputText />
      </span>
    </div>
  </div>

  <p-footer>
    <button pButton type="button" (click)="attemptLogin()" label="{{ 'App.Sign in' | translate }}"></button>
  </p-footer>
</p-dialog>

<!-- Sign-up Modal -->
<p-dialog [(visible)]="signUpDialog" modal [closable]="true" [header]="'App.sign up' | translate" [style]="{width: '400px'}">
  <div class="d-flex justify-content-center">
    <button pButton class="w-50" (click)="signUpDialog = false; loginDialog = true;">
      <h4 class="modal-title font-weight-bold">{{ 'App.Sign in' | translate }}</h4>
    </button>
    <button pButton class="w-50">
      <h4 class="modal-title font-weight-bold"><span class="actii">{{ 'App.sign up' | translate }}</span></h4>
    </button>
  </div>

  <form [formGroup]="signUpForm">
    <div class="p-fluid">
      <div class="p-field">
        <label for="firstname">{{ 'App.Name' | translate }}</label>
        <span class="p-input-icon-left">
          <i class="pi pi-user"></i>
          <input id="firstname" type="text" formControlName="firstname" name="firstname" pInputText />
        </span>
      </div>

      <div class="p-field">
        <label for="username">{{ 'App.Username' | translate }}</label>
        <span class="p-input-icon-left">
          <i class="pi pi-users"></i>
          <input id="username" type="text" formControlName="username" name="username" pInputText />
        </span>
      </div>

      <div class="p-field">
        <label for="email">{{ 'App.Email' | translate }}</label>
        <span class="p-input-icon-left">
          <i class="pi pi-envelope"></i>
          <input id="email" type="email" formControlName="email" name="email" pInputText />
        </span>
      </div>

      <div class="p-field">
        <label for="password">{{ 'App.Password' | translate }}</label>
        <span class="p-input-icon-left">
          <i class="pi pi-lock"></i>
          <input id="password" type="password" formControlName="password" name="password" pInputText />
        </span>
      </div>
    </div>
  </form>

  <p-footer>
    <button pButton type="button" (click)="signUp()" label="{{ 'App.sign up' | translate }}"></button>
  </p-footer>
</p-dialog>
