.lgbutton{
    background-color: #FF424F !important;
    color : #FFF !important;
    border-radius: 40px;
    border:  #FF424F 2px solid !important;
}
.signin{
    padding-left: 34% !important;
    
}

.actii{
    border-bottom: 2px solid #FF424F!important;

}
.signup{
    padding-left: 10% !important;
}
.close {
    // color: #FFF !important;
}
.modal-footer{
    border-top:none !important;
}
.modal-header{
    border-bottom: none !important
}

.actions:hover{
    border-bottom: 2px solid #FFF!important;
    }
.actions {
    color: #FFF;
}

